*{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 128, 128);
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#para1{
    background-color:#0e72f5;
    margin-top: 3%;
}
#para2{
    background-color:#1e86fd;
}
#para3{
    background-color:#36a1fe;
}
#para4{
    background-color:#39aeff;
}
#para5{
    background-color:#4cb9ff;
}
#para6{
    background-color:#6ec6fe;
}
#para7{
    background-color:#91d5fe;
}
#para8{
    background-color:rgb(7, 205, 7);
}
#para9{
    background-color:#f6a5c1;
}
#para10{
    background-color:#f48fb1;
}
#para11{
    background-color:#f178a1;
}
#para12{
    background-color:#ef6292;
}
#para13{
    background-color:#ed4b82;
}
#para14{
    background-color:#ea3473;
}
#para15{
    background-color:#e81e63;
}
#h1{
    color: rgb(78, 77, 77);
    background-color:#93989e;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    
}
